@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&display=swap');
@import "variables";
@import "media-queries";
@import "layout";
@import "button";
@import "aside-layout";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;

  h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

.title-font {
  font-family: 'Staatliches', cursive;
}

.page {
  width: 100%;
  background-color: $background;
  min-height: 1080px;
  padding-bottom: 50px;
  &-container {
    margin-top: 50px;
    padding: 0 26px;
  }

  @include mq(md) {
    &-container {
      margin-top: 30px;
      padding: 0 14px;
    }
  }
  @include mq(sm) {
    .page-header {
      height: 210px;
      &__container {
        padding-left: 45px;
        h2 {
          font-size: 50px;
          &::after {
            width: 12px;
            height: 76px;
            left: -26px;
            top: 12px;
            border-radius: 2px;
          }
        }
        h3 {
          font-size: 24px;
        }
      }
    }
  }
}


