@import "../../assets/scss/variables";
@import "../../assets/scss/media-queries";

#root  {
  .MuiAppBar-root {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 1000;
	position: relative;
  }
  .MuiAppBar-colorPrimary {
	color: #fff;
	background-color: $black-main;
  }
  .main-nav {
	.MuiTab-root {
	  background-color: $black-main;
	  &:hover {
		background-color: $black-light;
		transition: background-color 0.3s ease;
	  }
	}
	.MuiTabs-indicator {
	  background-color: $magenta;
	}
	.MuiTabs-flexContainer {
	  display: inline-flex;
	}
	.MuiTabs-root {
	  width: min-content;
	  display: inline-flex;
	}
	.MuiTabs-fixed {
	  display: inline-flex;
	}
	.MuiTab-root {
	  padding: 9px 30px;
	  max-width: unset;
	  min-width: unset;
	  color: white;
	  transition: color 0.3s ease;
	  span {
		font-size: 24px;
		letter-spacing: 0.1em;
		font-family: 'Staatliches', cursive;
	  }
	}
  }
}

.MuiDrawer-root {
  top: 60px !important;
  .MuiList-root {
	width: 240px ;
	color: white;
	padding: 50px 30px;
	@include mq(sm) {
	  padding: 50px 20px;
	}
  }
  .MuiListItem-root {
	margin-bottom: 10px;
	border-radius: 4px;
	&:hover {
	  background-color: $black-light;
	}
	&:hover .MuiListItemText-root span {
	  opacity: 1;
	}
	a {
	  text-decoration: none;
	}

	.MuiListItemText-root span{
	  line-height: 26px;
	  transition: opacity 0.2s ease;
	  color: white;
	  font-size: 26px;
	  opacity: 0.7;
	  font-family: 'Staatliches', cursive !important;
	}
  }

}
.MuiBackdrop-root {
  top: 60px !important;
}
.MuiDrawer-paper {
  top: 60px !important;
  background-color: $black-main !important;
}

#root {
  .main-nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.main-nav__logo {
	  width: 100px;
	  height: 43px;
	  animation-fill-mode: forwards;
	  transform: scale(0.82);
	  &:hover {
		animation: moveY 2s steps(49);
		cursor: pointer;
		animation-fill-mode: forwards;
	  }
	}
  }
}

@keyframes moveY{
  from{ background-position-y: 0; }
  to{ background-position-y:-2107px; }
}