@import "../../assets/scss/media-queries";
@import "../../assets/scss/variables";

.home-page {
  section {
	font-family: 'Staatliches', cursive;
	min-height: 400px;
	width: 100%;
  }

  h2 {
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	line-height: 49px;
	position: relative;
	padding-bottom: 20px;
	margin-left: 36px;
	letter-spacing: 0.1em;
	color: white;
	@include mq($sm) {
	  font-size: 34px;
	  padding-bottom: 10px;
	  margin-left: 44px;
	}

	&::before {
	  content: '';
	  border-radius: $border-radius--micro;
	  width: 14px;
	  height: 34px;
	  position: absolute;
	  top: 8px;
	  left: -25px;
	  background-color: $magenta;
	  @include mq($sm) {
		border-radius: 3px;
		width: 13px;
		height: 29px;
		top: 9px;
		left: -25px;
	  }
	}
  }
}

.home-page .intro {
  position: relative;
  height: 674px;
  padding: 0;
  @include mq($sm) {
	height: 400px;
  }
  .intro__background {
	width: 100%;
	position: relative;
	.background-photo {
	  width: 100%;
	  height: 674px;
	  position: absolute;
	  background-position: 30% center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  @include mq($lg) {
		background-position: 20% center;
	  }
	  @include mq($md) {
		background-position: 20% center;
	  }
	  @include mq($sm) {
		height: 400px;
		background-position: 4% center;
	  }
	  &-main {
		z-index: 1;
		animation: hue-rotate 13s linear infinite;
	  }
	  &-mask {
		z-index: 2;
	  }
	}
  }
  .MuiContainer-root {
	position: relative;
	z-index: 20;
	height: 100%;
	display: flex;
	align-items: center;
	@include mq($sm) {
	  height: 400px;
	}
	.intro__content {
	  width: 100%;
	  background-color: rgba(0, 0, 0, 0.5);
	  border-radius: 30px;
	  height: 280px;
	  @include mq($md) {
		height: 340px;
		border-radius: 20px;
	  }
	  @include mq($sm) {
		width: 90%;
		margin: 0 auto;
		height: 260px;
		border-radius: 15px;
	  }
	  .intro__content-container {
		height: 100%;
	  }
	  .intro__content-item {
		p, .intro-typed span {
		  color: white;
		  font-family: 'Staatliches', cursive;
		  font-size: 80px;
		  letter-spacing: 0.05em;
		  white-space: nowrap;
		  overflow: hidden;
		  cursor: default;
		  @include mq("1000px") {
			font-size: 75px;
		  }
		  @include mq($sm) {
			font-size: 40px;
		  }
		}
		.intro-typed span {
		  color: $magenta;
		}
		p:nth-of-type(1) {
		  padding-right: 12px;

		  @include mq($md) {
			line-height: 70px;
		  }
		  @include mq($sm) {
			line-height: 40px;
		  }
		}
		.intro-name-grid {
		  @include mq($sm) {
			flex-direction: row-reverse;
			justify-content: flex-end;
			margin-top: 10px;
		  }
		  .intro-name {
			font-size: 50px;
			color: white;
			font-family: 'Staatliches', cursive;
			letter-spacing: 0.05em;
			cursor: default;
			@include mq($sm) {
			  font-size: 30px;
			}
		  }
		  .ghost-btn {
			margin-left: 20px;
			@include mq($sm) {
			  margin-left: unset;
			  margin-right: 10px;
			  transform-origin: left;
			  transform: scale(0.8);
			}
		  }
		}

	  }
	}
	@include mq($sm) {
	  .intro__content-item {
		padding: 30px;
	  }
	}
  }
  @keyframes hue-rotate {
	0% {
	  filter: hue-rotate(0);
	}
	30% {
	  filter: hue-rotate(0);
	}
	100% {
	  filter: hue-rotate(360deg);
	}
  }
}

.skill {
  background-color: $background;

  .MuiGrid-container {
	@include mq('750px') {
	  max-width: 100%;
	  flex-basis: 100%;
	}
  }
  .MuiGrid-item {
	margin-top: 10px;
	@include mq($sm) {
	  margin-top: 0;
	}
  }
}

.project {
  background-color: $background;
  position: relative;

  &-container {
	padding-top: 60px;
	padding-bottom: 90px;
  }
  h2::before {
	background-color: $purple;
  }

  &__mask {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(180deg, #6500E0 0%, rgba(158, 31, 218, 0.6) 50%, rgba(158, 31, 218, 0.1) 100%);
	opacity: 0.3;
  }

  .MuiGrid-container {
	margin-top: 0;
  }
}

.section--padding {
  padding-top: 60px;
  padding-bottom: 90px;

  @include mq($sm) {
	padding-top: 40px;
	padding-bottom: 60px;
  }
}
